<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>
    <ion-icon class="icon-logout" (click)="logout()" name="exit"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-button expand="full" size="large" color="primary" (click)="add()">Add</ion-button>
  <ion-list>
    <ion-list-header>Notes</ion-list-header>
    <ion-item-sliding *ngFor="let note of notes" #slidingItem>
      <ion-item (click)="edit(note)">
        <ion-label>
          <h2>{{note.title || "-"}}</h2>
          <h3>{{note.text || "-"}}</h3>
        </ion-label>
        <ion-icon name="md-checkmark-circle" *ngIf="note.completed"></ion-icon>
        <ion-icon name="md-close" *ngIf="!note.completed"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option expandable="true" color="danger" (click)="delete(note)" (click)="autoClose(slidingItem)">Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-range min="0" max="1" step="0.01" [(ngModel)]="brightnessModel" (ionChange)="adjustBrightness()">
    <ion-icon size="small" slot="start" name="sunny"></ion-icon>
    <ion-icon slot="end" name="sunny"></ion-icon>
  </ion-range>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="woman">
      <ion-icon ios="ios-woman" md="md-woman" (click)="test()"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon ios="ios-call" md="md-call" (click)="test2()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon ios="ios-videocam" md="md-videocam" (click)="test3()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="musical-notes" (click)="test4()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>